*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f2f2f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main{
    background-color: rgb(164, 119, 161);
    width: 400px;
    height: 350px;
    border: 0.5px solid rgb(225, 225, 210);

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    
    box-shadow: 10px rgba(0,0,0,0.15);

    border-radius: 2%;
}

.counter{
    margin-top: -134px;
    background-color: white;
    width: 350px;
    height: 40px;

    
    border-radius: 15px;
    box-shadow: 0 15px rgba(0,0,0,0.15);
}

h1{
    margin-bottom: 15px;
}

#count{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #0f0f0f;
}

.butn{
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    gap: 10px;

}

#msgbttn{
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    gap: 10px;
}

button.hover{
    opacity: 0.8;
};

#msg {
    font-size: 50px;
    font-weight: bold;
    color: orange;
    margin: 10px 0 20px;
    padding-bottom: 10px;
}

/* Sita Ram animation */
.blink {
    animation: blink 1.0s ease-in-out 1;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}